{
  "extends": "react-app",
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 2, { "SwitchCase": 1, "MemberExpression": 1}],
    "no-tabs": 0,
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "arrow-parens": ["error", "as-needed", {"requireForBlockBody": true}],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "key-spacing": ["error", {
      "singleLine": {
          "beforeColon": false,
          "afterColon": true
      },
      "multiLine": {
          "beforeColon": false,
          "afterColon": true,
          "align": "colon"
      }
    }],
    "switch-colon-spacing": ["error", {"after": true, "before": false}],
    "nonblock-statement-body-position": ["error", "beside"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "multiline-ternary": ["error", "always-multiline"],
    "lines-between-class-members": ["error", "always"],
    "jsx-quotes": ["error", "prefer-double"],
    "space-in-parens": ["error", "never"],
  }
}